<!DOCTYPE html>
{% load static %}
{% load paystack %}
<html lang=""  id="print_here">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Medallion</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-theme.min.css' %}">

</head>
<body style="background-color: lightblue;">

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> Online Ticketing</a>
			</div>

			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#">Rerservation
					<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-backward"></span> Back To Home</a></li>
			</ul>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="col-md-3"></div>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<h2><center>TICKET INFO</center></h2><br />
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title"><center>DEPARTURE</center></h3>
						</div>

						<div class="panel-body">
							<strong>
								<i>Metro Mass Transport, Mother of all transports</i>
								<h3>BOOK FOR BUS {{book.pk}}</h3>
								<p>Departure Date: {{book.d_date}}</p>
							</strong>

							<i>Estimated Arrival Time: {{book.d_date}} @3:00PM</i><br />
							<strong>Info: (+233)24 130 1463</strong>
						</div>
					</div>

					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">PASSENGERS INFO</h3>
						</div>

						<div class="panel-body">
							<strong>Book By: </strong>{{book.book_by.name}}<br /> 

							<strong>Contact #: </strong>{{book.book_by.contact}}<br />

							<strong>Address: </strong>{{book.book_by.address}}<br />
						</div>\
					</div>

					<div class="container-fluid table-responsive">
						<strong><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						PASSENGERS</strong>

						<table class="table table-bordered table-striped">
								<thead>
										<tr>
											<th>
												<center>Name</center> 
											</th>

											<th>
												<center>Contact</center>
											</th>

											<th>
												<center>Age</center>
											</th>

											<th>
												<center>Gender</center>
											</th>

											<th>
											<center>Departure Price</center>
											</th>
										</tr>
								</thead>

								<tbody>
									{% for passenger in book.passengers.all %}
									<tr align="center">
										<td>{{passenger.name}}</td>
										<td>{{passenger.contact}}</td>
										<td>{{passenger.age}}</td>
										<td>{{passenger.get_gender_display}}</td>
										<td>{{passenger.route.price}}</td>
									</tr>
									{% endfor %}

									<tr>
										<td></td>
										<td></td>
										<td align="right"><strong>TOTAL:</strong></td>
										<td></td>
										<td align="center"><strong>{{book.get_total_price}}</strong></td>
									</tr>
								</tbody>

								<strong>- TICKET FOR: {{book.get_route|upper}}</strong>
						</table>

						<div style="display:flex; justify-content: space-around;">
							<a href="{% url 'home' %}" class="btn btn-success">Return Home
								<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
							</a>

							<button type="button" onclick="printTicket('print_here')" class="btn btn-success mr-2">Print</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3"></div>
	</div>
	
	<script type="text/javascript">
		function printTicket(print_here){
			var content = document.getElementById("print_here").innerHTML;
			w = window.open();
			w.document.write(content);
			w.print();
			w.close();
		}
	</script>


	<script type="text/javascript" src="{% static 'assets/js/jquery-3.1.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>

</body>
</html>