
			<div class="modal-header">
				<h5 class="modal-title" id="modal_{{reserve.pk}}">User</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<center>
					<strong>Book By: </strong><span id="book-by">{{reserve.book_by.name}}</span> <br />
					<strong>Departure Date: </strong><span id="date">{{reserve.d_date}}</span> <br />
					<strong>Departure Session: </strong><span id="date">{{reserve.session}}</span> <br />
					<strong>Contact: </strong><span id="contact">{{reserve.book_by.contact}}</span> <br />
					<strong>Address: </strong><span id="address">{{reserve.book_by.address}}</span><br />
					{% comment %} {% for passenger in passengers.all %} {% endcomment %}
						<strong>Route: </strong><span id="route">{{reserve.passengers.first.route}}</span><br />
					{% comment %} {% endfor %} {% endcomment %}
				</center><hr />

				<div>
					<table class="table table-bordered table-hover" cellspacing="0" width="100%">
						<thead>
							<tr>
								<td>Name</td>
								<td>Contact</td>
								<td>Age</td>
								<td>Gender</td>
								<td>Seat</td>
								<td>Price</td>
							</tr>
						</thead>
						<tbody>
							{% for passenger in reserve.passengers.all %}
							<tr align="center">
								<td>{{passenger.name}}</td>
								<td>{{passenger.contact}}</td>
								<td>{{passenger.age}}</td>
								<td>{{passenger.get_gender_display}}</td>
								<td>{{passenger.seat}}</td>
								<td>{{passenger.get_price|floatformat:2}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<div class="modal-footer">
				<button type="submit" name="reserve" value="{{reserve.pk}}" class="btn btn-success accept-pay">Accept Payment
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				</button>
			</div>

